<link rel="stylesheet" href="{$pluginUrl}css/fastfilterSetting.css?v3">

<form class="ff-form">
    {$wa->csrf()}

    <h2>Выберите категории и характеристики</h2>

    <div class="ff-field">
        <div class="name">Категория</div>
        <div class="value">
            <select name="category_id">
                {foreach from=$categories item=category}
                    <option value="{$category.id}">{$category.name}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="ff-field">
        <div class="name">Характеристика</div>
        <div class="value">
            <select class="ff-select" name="feature_id" id="js-fastfilter-select-feat">
                {foreach from=$features item=feature}
                    <option value="{$feature.id}"  data-code="{$feature.code}">{$feature.name}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="ff-field">
        <div class="name">Значение</div>
        <select class="ff-select" name="feature_id" id="js-fastfilter-select-value" multiple>
        </select>
    </div>

    <div class="ff-field">
        <div class="value submit">
            <input type="submit" id="js-save-button" class="button green ff-button" value="Сохранить">
        </div>
    </div>
</form>

<h2>Назначенные</h2>
<table class="fastfilter-table">
    <thead class="fastfilter-table__header">
        <tr class="fastfilter-table__row fastfilter-table__row--header">
            <th class="fastfilter-table__cell fastfilter-table__cell--header">Категория</th>
            <th class="fastfilter-table__cell fastfilter-table__cell--header">Характеристика</th>
            <th class="fastfilter-table__cell fastfilter-table__cell--header">Выводимые значения</th>
            <th class="fastfilter-table__cell fastfilter-table__cell--header"></th>
        </tr>
    </thead>
    <tbody class="fastfilter-table__body">
        {foreach from=$settings item=setting}
            <tr class="fastfilter-table__row">
                {* {wa_dumpc($setting)} *}
                <td class="fastfilter-table__cell">{$setting.category_id}</td>
                <td class="fastfilter-table__cell">{$setting.feature_name}</td>
                <td class="fastfilter-table__cell">
                    {foreach from=$setting.default_values item=item}
                        <span class="fastfilter-table__value">{$item.name}</span>{if !$item@last},&nbsp;{/if}
                    {/foreach}
                </td>
                <td class="fastfilter-table__cell">
                    <a href="?module=plugins&plugin=fastfilter&action=delete&id={$setting.id}" class="fastfilter-table__button">Удалить</a>
                </td>
            </tr>
        {/foreach}
    </tbody>
</table>

<script src="{$pluginUrl}js/fastfilterSetting.js"></script>